#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; margin: 0; padding: 0; }
#selectable li { margin: 1px; padding: 0.2em; font-size: 1.1em; height: 17px; }

#selectableVm .ui-selected { background: #F39814; color: white; }
#selectableVm { list-style-type: none; margin: 0; padding: 0; }
#selectableVm li { margin: 1px; padding: 0.2em; font-size: 1.1em; height: 17px; }

#selectableActions .ui-selected { background: #F39814; color: white; }
#selectableActions { list-style-type: none; margin: 0; padding: 0; }
#selectableActions li { margin: 1px; padding: 0.2em; font-size: 1.1em; height: 17px; }

#envMenu {
  width: 11%;
  position: fixed; 
  top: 20px;
  right: 0px;
}

#vmMenu {
  width: 16%;
  //position: fixed; 
  top: 20px;
  left: 0px;
}

#actions {
  width: 10%;
  position: absolute; 
  top: 60px;
  left: 350px;
}

.start {
  //width: 10%;
  position: absolute; 
  top: 60px;
  left: 600px;
}

#loadingmessage {
  //width: 10%;
  position: absolute; 
  top: 90px;
  left: 600px;
}

.output{
  position: absolute; 
  top: 60px;
  left: 725px;
}

#options {
  width: 200px;
  position: absolute; 
  top: auto;
  left: auto;
  margin: 5px;
}
