#selectableEnvList .ui-selected { background: #E6E6FA; color: black; }
#selectableEnvList { list-style-type: none; margin: 0; padding: 0; }
#selectableEnvList li { margin: 1px; padding: 0.2em; font-size: 1.1em; cursor: pointer;}

#selectableVmList .ui-selected { background: #E6E6FA; color: black; }
#selectableVmList { list-style-type: none; margin: 0; padding: 0; }
#selectableVmList li { margin: 1px; padding: 0.2em; font-size: 1.1em; cursor: pointer}

#selectableActionsList .ui-selected { background: #E6E6FA; color: black; }
#selectableActionsList { list-style-type: none; margin: 0; padding: 0; }
#selectableActionsList li { margin: 1px; padding: 0.2em; font-size: 1.1em; cursor: pointer}


.content {
  width: 99%;
  position: absolute;
  top: 5em;
  display: flex;
}

.reindex {
  cursor: pointer
}

.vmMenu {
  display: inline-block;
  position: relative;
  vertical-align: top;  
}
.vmMenu ol {
  border: 1px solid #555;
}
.vmMenu li {
  text-align: center;
  border-bottom: 1px solid #555;
}
.vmMenu li:last-child {
  border-bottom: none;
}

.actions {
  display: inline-block;
  position: relative; 
}
.actions ol {
  border: 1px solid #555;
}
.actions li {
  text-align: center;
  border-bottom: 1px solid #555;
}
.actions li:last-child {
  border-bottom: none;
}

.start {
  width: 20px; 
  height: 20px;
  float: right;
  display: none;
  cursor: pointer
}

.loadingmessage {
  display: none; 
  float: right;
}

.loadsmall{
  display: none;
}

.options {
  vertical-align: top;
  display: inline-block;
  top: 10em;
}


.output{
  position: relative;
  left: auto;
  display: block;
  margin: 2em;
}

.rigtpart {
  position: inherit;
  right: 1%;
  top: 0;
}

.envMenu {  
  display: flex;
}
.envMenu ol {
  border: 1px solid #555;
}
.envMenu li {
  text-align: center;
  border-bottom: 1px solid #555;
}
.envMenu li:last-child {
  border-bottom: none;
}